.buttons{
    padding: 0px 2em;
    text-align: center;
}

.grid{
    width: 50%;
    height: 50%;
    display: inline-block;
    padding:20px;
}

.icon-heart{
    position: absolute;
      bottom: 95%;
      right: 3%;
      transform: translate(-50%, -50%);color:white
}

.icon-bell{
    position: absolute;
      bottom: 95%;
      right: 0%;
      transform: translate(-50%, -50%);color:white
}