<div class="container">
  <h1 style="text-align: center;">Infiniti Research</h1>

  <div class="buttons">
    <button type="button" class="btn btn-outline-primary mr-2" (click)="Show('Grid')">Grid View</button>
    <button type="button" class="btn btn-outline-secondary" (click)="Show('List')">List View</button>
  </div>

  <div class="input-group mt-3">
    <input type="text" class="form-control" [(ngModel)]="query" name="search" placeholder="Search by email or name">
  </div>

  <h2 style="text-align: center;" *ngIf="Showtext == true">There is no data available !</h2>

  <div *ngIf="ListView == true">
    <div class="card mt-3" *ngFor="let data of Listdata| startsWith : 'id,email':query">
      <div class="row no-gutters">
        <div class="col-auto">
          <img src="{{data.avatar}}" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block px-2">
            <span class="float-right"><i class="fas fa-heart"></i></span>
            <span class="float-right"><i class="fas fa-bell"></i></span>
            <h5 class="card-title">{{data.first_name}} {{data.last_name}}</h5>
            <p class="card-text">Email id : {{data.email}}</p>
            <a href="#" class="btn btn-outline-secondary">Call</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="GridView == true">
    <div class="card-deck grid" *ngFor="let data of Listdata| startsWith : 'id,email':query">
      <div class=" card">
        <img class="card-img-top" src="{{data.avatar}}" alt="Card image cap">
        <span><i class="fas fa-heart icon-heart"></i></span>
        <span><i class="fas fa-bell icon-bell"></i></span>
        <div class="card-body">
          <h5 class="card-title">{{data.first_name}} {{data.last_name}}</h5>
          <p class="card-text">Email id: {{data.email}}</p>
          <a href="#" class="btn btn-outline-secondary">Call</a>
        </div>
      </div>
    </div>
  </div>


  <nav aria-label="Page navigation example" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" (click)="Previous()">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="SetPage('1')">1</a></li>
      <li class="page-item"><a class="page-link" (click)="SetPage('2')">2</a></li>
      <li class="page-item">
        <a class="page-link" (click)="Next()">Next</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>